@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-8px);
	}
	100% {
		transform: translateY(0px);
	}
}

@layer utilities {
	.animate-float {
		animation: float 5.8s ease-in-out infinite;
	}

	.animate-float-delay {
		animation: float 7.2s ease-in-out infinite;
		animation-delay: 1.1s;
	}
}
